
$primary: "teal";
$accent: "light-blue";
$warn: "pink";

@import 'ember-paper';


#loopSide{
  margin-right: -27px;
  font-weight: bold;
}


.boxTrack{
  border: 2px solid #d4d4d4;
  border-radius: 6px;
  margin: 10px 5px;
  padding: 10px 0px 4px 0px;
  max-width: 110px;
}

.boxTrack:hover:not(.has-sample){
  border-color: gray !important;
}
.boxTrack md-divider{
  border-top-width: 2px;
}

.boxTrack .volumeBar{
  margin-top: -24px;
}
.boxTrack .volumeBar md-slider{
  min-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.boxTrack .volumeBar md-slider .md-track.md-track-fill{
  background-color: #d1d1d1;
}

canvas.vueMeter{
  background-color: #FFF;
}

.boxSample.s-color-0,
canvas.s-color-0{
  background-color: #d1d1d1 !important;
}
.fa.s-color-0{
  color: #d1d1d1;
}
.boxTrack.s-color-0{
  border-color: #d1d1d1 !important;
  box-shadow: #d1d1d1 0px 0px 10px 5px
}

.boxSample.s-color-1,
canvas.s-color-1{
  background-color: #f4e6c8 !important;
}
.fa.s-color-1{
  color: #f4e6c8;
}
.boxTrack.s-color-1{
  border-color: #f4e6c8 !important;
  box-shadow: #f4e6c8 0px 0px 10px 5px
}

.boxSample.s-color-2,
canvas.s-color-2{
  background-color: #cbe6ea !important;
}
.fa.s-color-2{
  color: #cbe6ea;
}
.boxTrack.s-color-2{
  border-color: #cbe6ea !important;
  box-shadow: #cbe6ea 0px 0px 10px 5px
}

.boxSample.s-color-3,
canvas.s-color-3{
  background-color: #f8d2d4 !important;
}
.fa.s-color-3{
  color: #f8d2d4;
}
.boxTrack.s-color-3{
  border-color: #f8d2d4 !important;
  box-shadow: #f8d2d4 0px 0px 10px 5px
}

.boxSample.s-color-4,
canvas.s-color-4{
  background-color: #d3d5f1 !important;
}
.fa.s-color-4{
  color: #d3d5f1;
}
.boxTrack.s-color-4{
  border-color: #d3d5f1 !important;
  box-shadow: #d3d5f1 0px 0px 10px 5px
}

.boxTrack.drag-pending{
  border-color: gray !important;
}


.recordingTimeInput:not(.recording){
  color: RGBA(var(--primary-500-contrast), 0.26);
}

.boxSample{
  display: inline-block;
  cursor: grab;
  margin: 10px 6px 0px 6px;
  height: 24px;
  line-height: 24px;
  width: 24px;
  text-align: center;
  min-width: 0;
  padding: 8px;
  border-radius: 50%;
}

.boxSample.is-used{
  background-color: rgba(0,0,0,.12) !important;
  cursor: not-allowed;
}

@media (max-width: 599px){
  #BoxMain-AppTitle{
    display: none;
  }
  #BoxMain-TrackContainer{
    overflow-x: scroll;
  }
  .boxTrack .trackNumber{
    text-align: center;
    color: #717171;
    font-weight: bold;
  }
}

@media (min-width: 600px){
  #BoxMain-TrackContainer{
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
  }


  .boxTrack .trackNumber{
    display: none;
  }
}
