<div 
  uk-modal
  {{did-insert this.showModal}}
  {{on "hide" this.onClose}}
  container="false"
  ...attributes
>
  <div class="uk-modal-dialog uk-modal-body {{@dialogClass}}">
    {{yield}}
  </div>
</div>
