{{#paper-dialog class="flex-50" fullscreen=fullscreen clickOutsideToClose=false}}
    {{#paper-dialog-content}}
        <p>{{t 'box_loading'}}</p>
        {{paper-progress-linear}}
    {{/paper-dialog-content}}
{{/paper-dialog}}
