<a style="position: fixed; top: 0px; right: 0px; z-index: 9999;" href="https://github.com/romgere/romgerebox"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
{{#paper-toolbar class="flex-initial"}}
  {{#paper-toolbar-tools}}
    <span class="flex"></span>
    <h2>
      Romgere's Box
    </h2>
    <span class="flex"></span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<h2 style="text-align: center;">Choisis ton style </h2>
<div class="layout-row layout-xs-column layout-align-space-around-center">

  {{#each model.versions as |version idx|}}
    {{#paper-button raised=true primary=true onClick=(transition-to "box" idx (query-params mixConf=(default-mix-conf)))}}
      {{version.name}}
    {{/paper-button}}
  {{/each}}

</div>

<br /><br />

<h2 style="text-align: center;">ou charge un mix </h2>
<div class="layout-column layout-align-center-center">
  <p style="text-align: center;">Entres ton code pour retrouver ton mix</p>
  {{paper-input-mask
    mask=mixCodeinputMask
    customValidations=mixCodeValidation
    label="Mix Code"
    placeholder="Ton Mix Code"
    icon="loyalty"
    type="text"
    value=mixCode
    onChange=(action (mut mixCode))
  }}
  {{#paper-button disabled=(not mixCodeValid) primary=true raised=true onClick=(action 'loadMixCode')}}
    Charger
  {{/paper-button}}
</div>
