{{#paper-toolbar class="flex-initial"}}
  {{#paper-toolbar-tools}}
    <span class="flex"></span>
    <h2>
      RomgereBox
    </h2>
    <span class="flex"></span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<h2 style="text-align: center;">Choisis ton style : </h2>
<div class="layout-row layout-align-space-around-center">

  {{#each model.versions as |version idx|}}
    {{#paper-button raised=true onClick=(transition-to "box" idx)}}
      {{version.name}}
    {{/paper-button}}
  {{/each}}

</div>
