<Misc::UkModal class="uk-flex-top" @dialogClass="uk-margin-auto-vertical">
  <p class="uk-text-center">
    {{t 'unlock_audio'}}
    <br /><br />
    <FaIcon @icon="lock" @size="2x" />
  </p>
</Misc::UkModal>