{{#paper-dialog class="flex-50" fullscreen=fullscreen clickOutsideToClose=false}}
    {{#paper-dialog-content}}
        <p style="text-align: center;">
          {{t 'unlock_audio'}}
          <br /><br />
          {{paper-icon 'lock' size=48}}
        </p>
    {{/paper-dialog-content}}
{{/paper-dialog}}
